# Игнорируем папки с кэшем Python
__pycache__/
*.pyc

# Игнорируем папку виртуального окружения
# Это САМОЕ ВАЖНОЕ правило. Никогда не загружайте venv на GitHub!
venv/
.venv/

# Игнорируем файлы IDE (PyCharm, VSCode)
.idea/
.vscode/

# Игнорируем файлы, которые генерирует PyInstaller при сборке .exe
build/
dist/
*.spec

# Игнорируем файлы, которые генерирует само приложение во время работы
logs/
*.log
recycle_bin/
undo_history/
profiles/

# Игнорируем скомпилированный файл ресурсов.
# В репозитории должен быть только исходник (resources.qrc).
resources_rc.py