# Python
__pycache__/
*.pyc

# Virtual Environment
venv/
.venv/

# IDE settings
.idea/

# Logs and data
logs/
*.txt
!requirements.txt

# Local files
recycle_bin/
undo_history/
profiles/
config.json
resources_rc.py